<hr>
<div>
  <h5>Work Experience</h5>
  <div class="resumeline">
    <span class="company">{{ workExperience[0].company }}</span>;
    <span class="job">{{ workExperience[0].job }}</span>;
    <span class="duration">{{ workExperience[0].duration }}</span>
    <p>
      {{ workExperience[0].description[0] }}
    </p>
  </div>
  <div class="resumeline">
    <span class="company">{{ workExperience[1].company }}</span>;
    <span class="job">{{ workExperience[1].job }}</span>;
    <span class="duration">{{ workExperience[1].duration }}</span>
    <p>
      {{ workExperience[1].description[0] }}
    </p>
  </div>
  <div class="resumeline">
    <span class="company">{{ workExperience[2].company }}</span>;
    <span class="job">{{ workExperience[2].job }}</span>;
    <span class="duration">{{ workExperience[2].duration }}</span>
    <p>
      {{ workExperience[2].description[0] }}
    </p>
  </div>
</div>
