table, tr, td {
    width: 400px;
    margin: auto;
    text-align: center;
    table-layout: fixed;
    border:2px solid black;
    border-collapse: collapse;
    opacity:1;

}

table, tr,td {
    padding: 10px;
    color: white;
    border:2px solid #080808;
    border-collapse: collapse;
    font-size:18px;
    font-family:Arial;
    
}

tr:hover {
    background: orange;
}

body {
    background-color: skyblue;
}
 